.label {
    font-family: "Marvin";
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

.labelPonto {
    font-size:120px;
    margin-top: -50%;
}

.botao-retorno{
    height: 95.55px;
    width: 271.67px;
}