.jogadoresTexto {
    background-color: #3c8acc;
    font-family: "Marvin";
    --color: #ffffff;
    width: 326px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    border-width: 8px;
    margin-left: 5%;
}

.botaoBanner {
    height: 125.55px;
    width: 320.18px;
}

.trofeu-nao-selecionado {
    opacity: 0.5;
    border: yellow 2px;
}

.icones {
    height: 55px;
    width: 55px;
}
.footer-button{
    height: 95.55px;
    width: 271.67px;
}
.back-button{
    height: 95.55px;
    width: 46.84px;
}
