<ion-content>
  <ion-grid class="wrapper">
    <ion-row>
      <ion-button class="button header-button button-primary botaoBanner fs-42">
        QUAL FOI A <br> PONTUAÇÃO?
      </ion-button>
    </ion-row>
    <ng-container *ngFor="let jogador of jogadoresVisual; let indexOfelement = index;">
      <ion-row>
        <ion-col size="12">
          <ion-input type="text" class="jogadoresTexto" [value]="jogador.nome"></ion-input>
          <ion-row>
            <ion-col size="3" *ngFor="let trofeu of jogador.trofeus; let indexTrofeu = index;"
              (click)="selecionarTrofeu(indexOfelement, indexTrofeu)">
              <img [src]="urlImagem(trofeu.imagem)" [ngClass]="{ 'trofeu-nao-selecionado': !trofeu.selecionado }" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <img src="../assets/imgs/icones/pare.png" class="icones" />
            </ion-col>
            <ion-col size="3">
              <ion-input id="faltas_{{indexOfelement}}" type="number" inputmode="numeric"
                class="inputs" (ionChange)="atualizarFaltas($event, indexOfelement)" ></ion-input>
            </ion-col>
            <ion-col size="3">
              <img src="../assets/imgs/icones/bonus.png" class="icones" />
            </ion-col>
            <ion-col size="3">
              <ion-input id="pontos_{{indexOfelement}}" type="number" inputmode="numeric"
                class="inputs" (ionChange)="atualizarPontos($event, indexOfelement)" ></ion-input>
            </ion-col>
            <p class="pontuacaoTexto" id="lbPontuacao_{{indexOfelement}}"></p>
          </ion-row>
          <!-- <ion-input type="text" placeholder="Jogador 1" style="background-color: #FFFFFF;"
          (ionChange)="atualizarJogador($event, indexOfelement)" (ionBlur)="salvarJogadores()" [value]="jogador.nome">
        </ion-input>
        <ion-input type="text" placeholder="Jogador 1" style="background-color: #FFFFFF;"
          (ionChange)="atualizarJogador($event, indexOfelement)" (ionBlur)="salvarJogadores()" [value]="jogador.nome">
        </ion-input> -->
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col size="3">
        <ion-button routerLink="/comecar-corrida" class="button button-danger back-button fs-25">
          < </ion-button>
      </ion-col>
      <ion-col size="9">
        <ion-button (click)="proximaPista()"
          class="button button-secondary footer-button fs-32">PRÓXIMA <br>PISTA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
