.texto {
    font-family: "Marvin";
    text-align: center;
    color: #ffffff;
    // margin-top: 50%;
    font-size: 180px;
}

.botao-pontuação {
    width: 343.67px;
    height: 121.55px;
    --ion-color-primary: #e83c47;
    margin-top: -25%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}
