<ion-content padding class="background">
  <ion-grid class="wrapper">
    <ion-col>
      <img src="../../assets/imgs/logos/logo_300.png" class="center" style="width: 70%;height: 70%">
    </ion-col>
    <ion-row>
      <ion-button routerLink="/iniciar-corrida" class="button button-primary menu-button fs-25">
        INICIAR PARTIDA
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button routerLink="/quadro-recordes" class="button button-primary menu-button fs-25">
        QUADRO DE<br> RECORDES
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button routerLink="/aprenda-jogar" class="button button-primary menu-button fs-25">
        APRENDA A<br> JOGAR
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button routerLink="/comprar-jogo" class="button button-secondary menu-button fs-25">
        COMPRAR O<br> JOGO
      </ion-button>
    </ion-row>
    <ion-col>
      <img src="../../assets/imgs/logos/GNO-01.png" class="center">
    </ion-col>
  </ion-grid>
</ion-content>