<ion-content>
  <ion-grid class="wrapper">
    <ion-row>
      <ion-button routerLink="/iniciar-corrida" class="botoes-paginas">
        INICIAR PARTIDA
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button routerLink="/quadro-recordes" class="botoes-paginas">
        QUADRO DE<br> RECORDES
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button routerLink="/aprenda-jogar" class="botoes-paginas">
        APRENDA A<br> JOGAR
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button routerLink="/comprar-jogo" class="botao-comprar">
        COMPRAR O<br> JOGO
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>