.pista-nao-selecionada {
  opacity: 0.5;
  border: yellow 2px;
}
.texto-principal{
  width: 320.18px;
  height: 125.55px;  
}
.botao-partida{
  width: 271px;
  height: 95.55px;  
}
.botao-voltar{
  width: 46px;
  height: 95.55px;  
}
