<ion-content>
  <ion-grid class="wrapper">
    <ion-row>
      <ion-button class="button button-primary texto-principal fs-32">
        QUAIS PISTAS <br> VOCÊ QUER <br> CORRER?
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let pista of pistas; let indexOfelement = index;"
        (click)="selecionarPista(indexOfelement)">
        <img [src]="urlImagem(pista.imagem)" [ngClass]="{ 'pista-nao-selecionada': !pista.selecionado }" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button routerLink="/iniciar-corrida" class="button button-danger botao-voltar fs-32">
          < </ion-button>
      </ion-col>
      <ion-col size="9">
        <ion-button (click)="irParaCorrida()" class="button button-secondary botao-partida fs-32">IR PARA A <br> PARTIDA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>