<ion-content>
  <ion-grid class="wrapper">
    <ion-row>
      <ion-button class="botoes-paginas">
        QUAIS PISTAS <br> VOCÊ QUER <br> CORRER?
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <img src="../../assets/imgs/pistas/beach_cup.png">
      </ion-col>
      <ion-col col-6>
        <img src="../../assets/imgs/pistas/bedroom_cup.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <img src="../../assets/imgs/pistas/picnic_cup.png">
      </ion-col>
      <ion-col col-6>
        <img src="../../assets/imgs/pistas/kitchen_cup.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <img src="../../assets/imgs/pistas/playground_cup.png">
      </ion-col>
      <ion-col col-6>
        <img src="../../assets/imgs/pistas/tabletop_cup.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <img src="../../assets/imgs/pistas/random.png" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button routerLink="/iniciar-corrida" class="botoes-voltar"> < </ion-button>
      <ion-button routerLink="/comecar-corrida" class="botoes-rodape">IR PARA A <br> PARTIDA</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>