<ion-content>
  <ion-grid class="wrapper">
    <ion-row>
      <ion-button class="botoes-paginas">
        PODEMOS<br> COMEÇAR?
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <img src="../../assets/imgs/pistas/beach_cup.png">
        <!-- <img src="../../assets/imgs/pistas/beach_cup.png" (click)="tocaSomTorcida()"> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button routerLink="/escolher-pistas" class="botoes-voltar"> < </ion-button>
      <ion-button routerLink="/comecar-corrida" class="botoes-rodape">IR PARA A <br> PARTIDA</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>