<div id="bkg">
  <ion-grid class="wrapper">
      <ion-row>
        <ion-button class="header-button button-primary texto-principal fs-42" >
          PODEMOS<br> COMEÇAR?
        </ion-button>
      </ion-row>
    <ion-row>
      <ion-col size="12">
        <img [src]="urlImagem()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button routerLink="/escolher-pistas" class="button button-danger botao-voltar fs-32">
          < </ion-button>
      </ion-col>
      <ion-col size="9">
        <ion-button routerLink="/contagem" class="button button-secondary botao-partida fs-32">COMEÇAR!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>